body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .signin-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
  }
  
  .signin-section {
    width: 100%;
    max-width: 400px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .signin-content {
    text-align: center;
  }
  
.signin-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  
  .signin-form-wrapper {
    margin-top: 20px;
  }
  
  .signin-form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .signin-input-group {
    margin-bottom: 1vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .signin-input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .signin-input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signin-button {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 1vh;
  }
  
  .signin-button:hover {
    background-color: #0056b3;
  }
  
  .signup-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  